<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            {{#link-to 'index' class='brand'}}MyBlog{{/link-to}}
            <ul class="nav">
                <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>
{{outlet}}
