<div class="container">
  <div class="row">
    <div class="span4" style = "float:left">
      <h4>Recent Posts</h4>
      <ul class="unstyled">
        {{#each post in recentPosts}}
          {{#link-to 'posts.view' post}}
            <li>{{post.title}}</li> 
          {{/link-to}}
          <li><small class="muted">by {{post.author}}</small></li>
          <li><small class="muted">Posted {{date post.publishedAt}}</small></li>
        {{/each}}
      </ul>
      {{link-to "New" "posts.create" class="btn create-new-post"}}
    </div>
    <div class="span8" style= "float:right">
      {{outlet}}
    </div>
  </div>
</div>
