<p>{{view Ember.TextField valueBinding='title'}}</p>
<p>{{view Ember.TextField valueBinding='author'}}</p>
<p>{{view Ember.TextArea valueBinding='intro'}}</p>
<p>{{view Ember.TextArea valueBinding='extended'}}</p>