<p class="text-warning">Please select a post or create new</p>
<ul class="unstyled">
  {{#each post in model}}
    {{#link-to 'posts.view' post}}
      <li>{{post.title}}</li> 
    {{/link-to}}
    <li><small class="muted">by {{post.author}}</small></li>
    <li><small class="muted">Posted {{date post.publishedAt}}</small></li>
  {{/each}}
</ul>

{{#each page in getCountPage}}
  <button class="btn" {{action 'goPage' page}}>{{page}}</button>
{{/each}}


