<h1>{{title}}</h1>
<h2>by {{author}} <small class="muted">{{date publishedAt}}</small></h2>

<hr>

<div class="intro">
    {{intro}}
</div>

<div class="below-the-fold">
    {{extended}}
    {{!-- {{markdown extended}} --}}
</div>

{{link-to "Edit" "posts.view.edit" this class="btn"}}
<button class="btn" {{action 'delete'}}>Delete</button>

{{outlet}}

{{!-- {{#if isEditing}}
    {{partial 'posts/post/edit'}}
    <button {{action 'doneEditing'}}>Done</button>
{{else}}

{{/if}} --}}